* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header {
    background-color: #e6e6e6;
    height: 100vh;
    width: 100%;
}

header .background {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.background .text {
    width: 40%;
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
}
.text .h1-textColor {
    color: #1cbda2;
}
.text .h6-textColor {
    color: #6d7780;
    font-size: 14px;
}

.background .hero {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;

}

.hero img {
    width: 500px;
    height: 600px;
}

.background .shop-now {
    color: #1cbda2;
    width: 250px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-image: url("/img/button.png");
    background-repeat: no-repeat;

}
/*style of background in mobile screen*/
@media (max-width:767px) {
    header .background{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    } 
    .background .hero{
        width: 100%;
        justify-content:center;
        align-items: center;
        margin-top: 50px;      
    } 
    .hero img {
        width: 400px;
        height: 400px;
    }
    .background .text{
        width: 100%;
        font-size: 18px;
        order:2;
        text-align: center;
        margin-top: 30px;
        
    } 
    .background .shop-now{
        margin: auto;
    }
}
/*style of features*/
.features{

width: 90%;
height: auto;
margin: 50px auto;
display:grid;
grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
gap: 8px;
}
.features .content{
    height: 220px;
    width: 190px;
 box-shadow: 0px 0px 20px 1px rgba(232,229,232,1);
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
text-align: center;   
}
.features .content span{
    height: 30px;
    width:100px;
    line-height: 30px;
    text-transform: capitalize;
    background-color:#1cbda2;
   
}
.features .content .f1-address{
    background-color: #9edcad;
    
}
.features .content .f2-address{
    background-color: #ceb8e1;
   
}
.features .content .f3-address{
    background-color:#d7eb50;
   
}
.features .content .f4-address{
    background-color:#7a99d1;
   
}
.features .content .f5-address{
    background-color:#c88ab8;
   
}
.features .content .f6-address{
    background-color:#d9bc5d;
   
}
.features-header{
    text-align: center;
    line-height: 1.5;
    text-transform:capitalize ;
    font-weight: bolder;
    font-size:25px;

}
.features-header h6{
    color: #6d7780;
}
/********style of products*********/

.products{
height: auto;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.products .card{
    height: 400px;
    width:280px;
    border: 2px solid #eee;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:20px;

}
 .products .product-img{
    height:300px ;
    width: 90%;
    border-radius: 20px;
    margin:15px auto;
} 
.card .product-name{
    padding:10px 0px;
}
.product-stars i{
color:#e8ba20;
}
.product-buy{
position: absolute;
bottom: 10px;
right: 10px;
height: 40px;
width:40px;
border-radius: 50%;
background-color: #dbe3da;
text-align: center;
line-height: 40px;
}
@media (max-width:767px) {
    .products{
        width: 100%;
    }  
    .products .card{
        width: 80%;
        height: 450px;
        margin:20px auto;
    }

}