* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header {
    background-color: #e6e6e6;
    height: 100vh;
    width: 100%;
}

header .background {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.background .text {
    width: 40%;
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
}
.text .h1-textColor {
    color: #1cbda2;
}
.text .h6-textColor {
    color: #6d7780;
    font-size: 14px;
}

.background .hero {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;

}

.hero img {
    width: 500px;
    height: 600px;
}

.background .shop-now {
    color: #1cbda2;
    width: 250px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-image: url("/img/button.png");
    background-repeat: no-repeat;

}
/*style of background in mobile screen*/
@media (max-width:767px) {
    header .background{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    } 
    .background .hero{
        width: 100%;
        justify-content:center;
        align-items: center;
        margin-top: 50px;      
    } 
    .hero img {
        width: 400px;
        height: 400px;
    }
    .background .text{
        width: 100%;
        font-size: 18px;
        order:2;
        text-align: center;
        margin-top: 30px;
        
    } 
    .background .shop-now{
        margin: auto;
    }
}
/*style of features*/
.features{
    margin: 30px 0px;
width: 100%;
height: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-evenly;

}
.features .content{
    height: 220px;
    width: 180px;
 box-shadow: 0px 0px 20px 1px rgba(232,229,232,1);
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
text-align: center;   
margin-bottom: 20px;
}
.features .content span{
    padding:2px;
    line-height: 1.5;
    text-transform: capitalize;
    background-color:#1cbda2;
   
}
.features .content .f1-address{
    background-color: #9edcad;
    
}
.features .content .f2-address{
    background-color: #ceb8e1;
   
}
.features .content .f3-address{
    background-color:#d7eb50;
   
}
.features .content .f4-address{
    background-color:#7a99d1;
   
}
.features .content .f5-address{
    background-color:#c88ab8;
   
}
.features .content .f6-address{
    background-color:#d9bc5d;
   
}
.features-header,
.arrival-header{
    text-align: center;
    line-height: 1.5;
    text-transform:capitalize ;
    font-weight: bolder;
    font-size:25px;

}
.features-header h6,
.arrival-header h6{
    color: #6d7780;
}
@media (max-width:767px) {
    .features{
        width: 100%;
    } 
    .features .content{
        width:40%;
    }
}
/********style of products*********/

.products{
height: auto;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.products .card{
    height: 420px;
    width:280px;
    border: 2px solid #eee;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:20px;

}
 .products .product-img{
    height:300px ;
    width: 90%;
    border-radius: 20px;
    margin:15px auto;
}
.card .product-brand{
    padding: 2px;
    margin-left: 3px;
} 
.card .product-name{
    padding: 2px;
    margin-left: 3px;
}
.product-stars i{
color:#e8ba20;
padding:2px;
}
.product-buy{
position: absolute;
bottom: 10px;
right: 10px;
height: 40px;
width:40px;
border-radius: 50%;
background-color: #dbe3da;
text-align: center;
line-height: 40px;
color:#1cbda2;
}
.product-price{
padding-bottom:5px;
margin-left: 3px;
color:#1cbda2;
font-size: 16px;
font-weight: bold;
}
@media (max-width:767px) {
    .products{
        width: 100%;
    }  
    .products .card{
        width: 80%;
        height: 450px;
        margin:20px auto;
    }
    .features-header,
    .arrival-header{
        font-size: 16px;
    }
}
/*style of banner*/
.banner{
    height: 300px;
    width:100%;
    margin:50px 0px ;
    background-image: url("../img/banner/b2.jpg");
    background-size: contain;
    color:white;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.banner div{
    font-size: 40px;
    padding:10px;
}
.banner div span{
    color:rgb(241, 13, 13);
    font-weight: bold;
}
.banner button{
    padding:10px 20px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}
@media (max-width:767px) {
    .banner{
        font-size: 18px;
    }
  .banner div{
    font-size: 20px;
  }  
}

/***style of offers***/
.offers{
height: auto;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;
color:#fff;

}
.offers .content1,
.offers .content2{
width: 40%;
height: 350px;
background-color: #1cbda2;
margin: 10px;
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
}
.offers .content1 button,
.offers .content2 button{
width: 130px;
padding:8px;
margin-left: 25px;
border:none;
font-size: 16px;
font-weight: bold;
text-transform: capitalize;
}
.offers .content1 button{
    background-color: #1cbda2;
    color:white;
    
}
.offers .content2 button{
    background-color:rgb(0, 0, 0,10%);    
    color:#fff;
  border:1px solid #fff;
    
}
.offers  span,
.offers  h2,
.offers h5,
.offers button,
.offersh2{
    padding:5px 10px;
    margin-left: 20px;
    text-transform: capitalize;
}

.offers .content1{
    background-image: url("../img/banner/b17.jpg");
    background-repeat: no-repeat;
    background-size:100% 350px;
}
.offers .content2{
    background-image: url("../img/banner/b10.jpg");
    background-repeat: no-repeat;
    background-size:100% 350px;
}

.offers .content3,
.offers .content4,
.offers .content5{
    width: 26.25%;
    height: 250px;
    margin: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers .content3{
    background-image: url("../img/banner/b7.jpg");
    background-size: cover;
}
.offers .content4{
    background-image: url("../img/banner/b4.jpg");
    background-size: cover;
    
}
.offers .content5{
    background-image: url("../img/banner/b18.jpg");
    background-size: cover;
    
}
.offers .content3 h5,
.offers .content4 h5,
.offers .content5 h5{
    color:rgb(206, 22, 22);
    font-size: 18px;
}
@media (max-width:767px) {
    .offers{
        width: 100%;
    }
    .offers .content1,
    .offers .content2, 
    .offers .content3,
    .offers .content4,
    .offers .content5{
        width:98%;
    }
}