* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: hsl(0, 0%, 96%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c8c6c6;

}

.navbar .logo {
    width: 10%;
    padding: 10px;
    margin-left: 40px;
}

.navbar .list {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 50px
}

.list li {
    position: relative;
    padding: 10px;
    position: relative;
}

.list li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: black;
}

li span.active {
    position: absolute;
    bottom: -10px;
    left: 10px;
    height: 2px;
    width: 20%;
    transform-origin: top left;
    transition: .3s;
    transform: scaleX(2);
    background-color: #1cbda2;
}

.list li a.visit {
    color: #1cbda2;
}

.mobile {
    display: none;
}

/*style of navbar in mobile screen*/
@media(max-width:767px) {
    header .navbar {
        width: 100%;
    }

    .mobile {
        display: block;
    }

    .navbar .list {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;
        width: 300px;
        height: 100vh;
        background-color: #e6e6e6;
        position: absolute;
        top: 0px;
        right: -100px;
        transition: .5s;
        transform: translateX(300px);

    }

    .list li a {
        text-decoration: none;
        color: black;
    }

    .list .card {
        display: none;
    }

    li span.active {
        position: absolute;
        bottom: -10px;
        left: 10px;
        height: 2px;
        width: 20%;
        transform: scaleX(0);

    }
    #close {
        border: none;
        padding: 10px;
        background-color: #e6e6e6;
        font-size: 20px;
        font-weight: bold;
        color: #1cbda2;

    }

    .navbar .list.translate {
        transition: .5s;
        transform: translateX(0px);
    }

    .mobile-list {
        display: flex;
        margin-right: 30px;
    }

    .mobile-list li {
        list-style: none;
        padding: 10px;
        cursor: pointer;
    }
}